/*
*   Service principal for Zookeeper server.
*
*   Zookeeper server accepts client connections.
*/
Server {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
		useTicketCache=false
    keyTab="/var/lib/secret/zookeeper2.key"
    principal="zookeeper/zookeeper2.kerberos_default@TEST.CONFLUENT.IO";
};




/*
*   Service principal for the Quorum Server.
*
*   QuorumServer accepts connections from learners during leadership election.
*
*   TODO: What about follower connections??? Hoping this is the same!
*/
QuorumServer {
       com.sun.security.auth.module.Krb5LoginModule required
       useKeyTab=true
       keyTab="/var/lib/secret/zookeeper2.key"
       storeKey=true
       useTicketCache=false
       debug=false
       principal="zkquorum/zookeeper2.kerberos_default@TEST.CONFLUENT.IO";
};

/*
*   Client principal used to connect to the QuorumServer.
*
*   NB the _host_ element of the principal must match the hots in the zookeeper properties
*/

QuorumLearner {
       com.sun.security.auth.module.Krb5LoginModule required
       useKeyTab=true
       keyTab="/var/lib/secret/zookeeper2.key"
       storeKey=true
       useTicketCache=false
       debug=false
       principal="learner/zookeeper2.kerberos_default@TEST.CONFLUENT.IO";
};
