KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/var/lib/secret/kafka1.key"
    principal="kafka/kafka1.kerberos_default@TEST.CONFLUENT.IO";
};

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
		useTicketCache=false
    keyTab="/var/lib/secret/zookeeper-client.key"
    principal="zkclient@TEST.CONFLUENT.IO";
};
