Server {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
		useTicketCache=false
    keyTab="/var/lib/secret/kafka.key"
    principal="zkservice/zookeeper.kerberos-multi-node_default@TEST.CONFLUENT.IO";
};

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useTicketCache=true;
};
